*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    outline: none; 
}
body {
    margin: 0;
}

.header {
    background: url("/src/img/main-bg.png") no-repeat;
    background-position: -245px -100px;
    &-wrapper {
        display: flex;
        background: linear-gradient(to top right,rgba(49, 170, 226, .9),rgba(157, 53, 192, .9));
        padding: 18px 0 172px 0;
        .top-information {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid rgba(255, 255, 255, .1);
            padding-bottom: 20px;
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    .logo {
        &:hover {
            filter: drop-shadow(0 0 10px  rgba(0, 174, 239, .9));
        }
    }
    .header-content {
        margin-top: 200px;
    }
    .content-inner {
        display: flex;
        justify-content: flex-start;
    }
}
.search {
    background: url('/src/img/bg-section-search.png') center (center / cover) no-repeat;
    text-align: center;
    padding: 119px 0;
    &__text {
        color: #fff;
    }
    &-checkbox {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .checkbox {
            &__input {
                display: none;
                margin: 0px;
                padding: 0px;
                width: 18px;
                height: 18px;
            }
            &__custom {
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid #00AEEF;
                cursor: pointer;
                margin-right: 10px;
                transform: translateY(3px);
                &_active {
                    &::before {
                        display: inline-block;
                        content: '\2714';
                        color:  #00AEEF;
                        font-size: 1em;
                        height: 18px;
                        transform: translateY(-3px);
                    }
                }
            }
            &__text {
                font-size: 0.8rem;
                color: #fff;
                margin-right: 30px; 
            }
        }
    }
}