@media (max-width: 1599px) {
    .slick-prev {
        left: 100%;
    }
    .slick-next {
        left: 100%;
    }
    .package-slide {
        width: 80%;
        margin: 0 auto;
    }
    .package-slide__img {
        width: 278px;
        height: 187px;
    }
    .call {
        &-modal {
            width: 302px;
            height: 318px;
            padding: 0;
        }
        &__title {
            font-size: 1.7rem;
        }
        &__subtitle {
            font-size: 1.3rem;
        }
        &__subtitle {
            font-size: 1.3rem;
        }
        &__close {
            font-size: 1.2rem;
            transform: translate(40%, 15px);
        }
    }
    .button-call {
        margin-top: 25px;
    }
    .input-area__input-subscribe {
        width: 500px;
    }
    .logos-slider__btn_left {
        top: 45%;
    }
}

@media (max-width: 1199px) {
    .slick-prev, .slick-next {
        left: 100%;
    }
    .package-slide {
        .slick-package-prev {
            left: -10%;
        }
        .slick-package-next {
            left: 105%;
        }
    }
    .header .header-content {
        margin-top: 100px;
    }
    .experience__photo {
        width: 350px;
        height: 261px;
        background-position: 62% 0;
        background-size: 145%;

    }
    .experience__items {
        width: 55%;
    }
    .package-slide {
        &__icon {
            width: 100px;
            height: 80px;
            font-size: 5.5rem;
        }
        &__span {
            font-size: 2rem;
            margin: -50px 0 0 21px;
        }
        .slide-list {
            margin-right: 10px;
        }
        &__img {
            width: 250px;
            height: 168px;
            margin-left: 20px;
        }
    }
    .button-package-slide {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .articles-item {
        width: 300px;
    }
    .details {
        width: 670px;
    }
    .builder__text {
        padding: 40px 60px;
    }
    .choice {
        padding: 120px 50px;
    }
    .count-inner {
        padding: 133px 50px;
    }
}


@media (max-width: 991px) {
    .menu {
        align-items: center;
        &__item {
            margin-right: 40px;
        }
    }
    .slick-prev, .slick-next {
        left: 100%;
    }
    .experience__photo {
        display: none;
    }
    .experience__items {
        width: 100%;
    }
    .descr {
        margin: 5px 0;
    }
    .package-slide__img {
        display: none !important;
    }
    .package-slide__inner {
        width: 50%;
    }
    .package-slide-inner {
        width: 35%;
        margin: 0 auto;
    }
    .choice__tab {
        height: 35px;
        padding: 8px 0;
        font-size: 0.85rem;
    }
    .choice__img {
        width: 180px;
        height: 145px;
        margin: 84px 0 0 30px;
    }
    .count-inner__number {
        font-size: 2rem;
    }
    .count-inner__text {
        font-size: 1.2rem;
    }
    .command {
        padding: 120px 37px;
        .semicircle {
            background: none;
        }
        .semicircle-inner__descr {
            width: 460px;
        }
    }
    .dots__item_active::after {
        line-height: 1.1rem;
        transform: translate(-37%, -88%);
    }
    .details {
        width: 520px;
    }
    .questions-menu {
        margin-right: 25px;
    }
    .logos-slider {
        padding: 0 100px;
    }
    .logos-slides {
        width: 80% !important;
    }
    .logos-slider .logos-slides__img {
        margin-right: 0;
    }
    .logos-slider__btn_left {
        left: 43%;
    }
    .footer {
        &-wrapper {
            flex-wrap: wrap;
        }
        &-bottom__hr {
            margin: 32px 0 22px 0;
        }
        &-bottom__text {
            display: block;
        }
        .menu__bottom {
            margin-top: 30px;
        }
    }
    .logos {
        padding: 60px 0;
    }
}


@media (max-width: 767px) {
    .contacts {
        display: inline-block;
    }
    .header-wrapper {
        padding-bottom: 77px;
        .top-information {
            display: block;
            padding: 30px 20px 30px 20px;
        }
    }
    .header .header-content {
        margin-top: 70px;
    }
    .contacts__link {
        margin-right: 25px;
    }
    .icons-top {
        margin-top: 20px;
    }
    .menu__item {
        margin-right: 0;
    }
    .menu-main {
        position: absolute;
        display: none;
        text-align: center;
        left: 0;
        right: 0;
		width: 100%;
        height: 210px;
		background: linear-gradient(to top right,rgb(49, 170, 226),rgb(157, 53, 192));
        z-index: 100;
        padding: 7px 0;
		&_active {
            display: block;
            margin-top: 50px;
        }
		&__item {
			padding-right: 0;
			border: none;
			margin-top: 10px;
			width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 7px 0;
            margin: 0;
            &:last-child {
                border-bottom: none;
            }
        }
		&__link {
			font-size: 1.1rem;
            display: block;
            color: #fff;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 240px;
        right: 10%;
        transform: translateY(-50%);
        width: 22px;
        height: 12px;
        z-index: 100;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active {
            span {
                background-color:#fff;
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .slick-prev, .slick-next {
        display: none !important;
    }
    .input-area__input {
        width: 450px;
    }
    .build-website {
        &__dotted-line {
            display: none;
        }
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .advantages__items {
        flex-direction: column;
        align-items: center;
    }
    .advantages__item {
        border-right: none;
    }
    .package-slide {
        &-inner {
            width: 30%;
            padding-left: 10px;
        }
        &__icon {
            margin-right: 0;
        }
        .slide-list__item {
            font-size: 0.7em;
        }
    }
    .builder__text {
        padding: 25px 30px;
    }
    .title__subtitle {
        font-size: 1.3rem;
    }
    .descr__builder {
        font-size: 0.85rem;
    }
    .choice {
        &__menu {
            flex-wrap: wrap;
            margin-top: 50px;
        }
        &__tab {
            width: 30%;
            margin-top: 10px;
            height: 40px;
            font-size: 0.9rem;
            padding: 10px 0;
        }
        &__img {
            display: none;
        }
    }
    .count-inner__number {
        font-size: 1.8rem;
    }
    .count-inner__text {
        font-size: 0.8rem;
    }
    .slick-package-prev, .slick-package-next {
        display: none !important;
    }
    .questions-wrapper {
        display: inline-block;
    }
    .details {
        width: 480px;
    }
    .articles {
        padding: 60px 0 0 0;
        &-wripper {
            justify-content: center;
        }
        &-item {
            margin-top: 30px;
        }
    }
    .logos-slider__btn_left {
        left: 40%;
    }
    .footer-wrapper {
        justify-content: center;
        div:first-child {
            margin-right: 100px;
        }
        div:nth-child(3) {
            margin-right: 20px; 
        }
    }
}


@media (max-width: 575px) {
    .header-wrapper .top-information {
        padding-top: 0;
    }
    .header .header-content {
        margin-top: 30px;
    }
    .title {
        font-size: 1.4rem;
    }
    .experience {
        padding: 50px 0;
        &__item {
            width: 100%;
            margin-top: 0;
        }
    }
    .advantages {
        padding: 120px 40px 0 40px;
        &__items {
            margin-top: 30px;
        }
    }
    .input-area {
        width: 300px;
        &__icon {
            display: none;
        }
        &__input {
            width: 280px;
            padding-left: 10px;
        }
    }
    .button-search {
        width: 86px;
    }
    .search-checkbox {
        justify-content: space-between;
        margin-left: 20px;
    }
    .package-slide {
        &-inner {
            width: 19%;
        }
        &__cloud-text {
            display: inline-block;
        }
        .slide-list {
            margin-top: 10px;
        }
    }
    .builder__photo {
        display: none;
    }
    .builder__text {
        width: 100%;
    }
    .choice {
        padding: 50px 0 50px 20px;
        &__tab {
            width: 33%;
            height: 35px;
            font-size: 0.7rem;
        }
    }
    .package {
        padding: 50px 0;
    }
    .title__slider-package {
        margin-top: 40px;
    }
    .search {
        padding: 50px 0;
    }
    .builder__text {
        padding: 50px 30px;
    }
    .advantages {
        padding: 50px 40px 0 40px;
    }
    .count-inner {
        display: inline-block;
        padding: 77px 0;
        &__item {
            flex-direction: row;
            align-items: center;
        }
        &__number {
            font-size: 1.5rem;
            margin: 0 10px 0 10px;
        }
        &__text {
            font-size: 0.9rem;
        }
        &__icon {
            font-size: 4.5rem;
            &_inner {
                font-size: 1.7rem;
                transform: translateX(-53px);
            }
        }
    }
    .command {
        padding: 50px 37px 80px 37px;
        .semicircle {
            margin-top: 50px;
            &-inner__descr {
                width: 290px;
            }
            &-switch {
                margin-top: 185px;
            }
        }
    }
    .dots__item_active::after {
        transform: translate(-35%, -88%);
    }
    .articles {
        padding: 60px 0 0 0;
        &-wripper {
            justify-content: center;
        }
        &-item {
            margin-top: 30px;
        }
    }
    .questions {
        background: #fff;
        padding: 50px 0 50px 52px;
    }
    .title-questions {
        margin-bottom: 50px;
    }
    .questions {
        padding-left: 0;
    }
    .details {
        width: 300px;
        &__summary {
            line-height: 25px;
            font-size: 0.9rem;
            padding-left: 10px;
            span {
                width: 72%;
            }
        }
    }
    .button__details {
        margin-left: 20px;
    }
    .descr__details {
        padding-left: 0;
    }
    .subscribe {
        padding-top: 60px;
    }
    .button-subscribe {
        width: 71px;
        margin-left: -70px;
    }
    .call-modal {
        width: 237px;
        height: 330px;
    }
    .logos {
        padding: 50px 0;
    }
    .logos-slider {
        padding: 0 50px;
    }
    .logos-slider .logos-slides__img {
        margin: 0 auto;
    }
    .logos-slider__btn {
        &_right {
            margin-left: 35px;
        }
    }
    .footer {
        padding: 50px 0 57px 0;
    }
    .footer-wrapper {
        justify-content: left;
    }
    .menu__link-footer {
        font-size: 0.6rem;
    }
}