.button {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover {
        background: linear-gradient(to top right,rgb(49, 170, 226),rgb(157, 53, 192));
    }
    &-header {
        width: 141px;
        height: 53px;
        background: #00AEEF;
        border: 3px solid #fff;
        border-radius: 5px;
        border-bottom-style: none;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 50px;
        &:hover {
            border-color:  #00AEEF;
        }
    }
    &-search {
        position: absolute;
        width: 131px;
        height: 46px;
        background: linear-gradient(to top right,rgb(49, 170, 226),rgb(157, 53, 192));
        border-radius: 50px;
        border: none;
        margin: 9px;
        transform: translate(-115%, 0);
        &:hover {
            background: linear-gradient(to top right,rgb(157, 53, 192),rgb(49, 170, 226));
        }
    }
    &-package-slide {
        width: 141px;
        height: 40px;
        background:#fff;
        border: 1px solid #00AEEF;
        border-radius: 3px;
        color: #00AEEF;
        margin-top: 30px;
        margin-bottom: 70px;
        &:hover {
            color: #fff;
        }
    }
    &__articles {
        width: 81px;
        height: 41px;
        background: #00AEEF;
        border-radius: 3px;
        color: #fff;
        border: none;
        margin: 220px 0 16px 17px;
        &-more {
            width: 125px;
            height: 36px;
            background: #F9F9F9;
            color: #00AEEF;
            border-radius: 3px;
            border: none;
            &:hover {
                color: #fff;
            }
        }
    }
    &__details {
        width: 58px;
        height: 58px;
        background: linear-gradient(to top right,rgb(49, 170, 226),rgb(157, 53, 192));
        font-size: 1.5rem;
        line-height: 59px;
        &:hover {
            background: linear-gradient(to top right,rgb(157, 53, 192),rgb(49, 170, 226));
        }
        &:active {
            &::before {
                content: '\e91a';
            }
        }
    }
    &-subscribe {
        position: absolute;
        width: 192px;
        height: 61px;
        background: #00AEEF;
        color: #fff;
        border: none;
        border-radius: 0 3px 3px 0;
        margin-left: -191px;
        margin-top: 43px;
    }
    &-call {
        display: block;
        width: 132px;
        height: 49px;
        font-size: 1.2rem;
        background: #00AEEF;
        border: none;
        border-radius: 3px;
        margin: 40px auto 0 auto;
    }
}