.contacts {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    &__icon {
        margin-right: 15px;
    }
    &__link {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        margin-right: 48px;
        &:hover {
            color: #00AEEF;
        }
    }
}