.details {
    width: 773px;
    margin-top: 18px;
    &__summary {
        display: flex;
        justify-content: space-between;
        border-left: 10px solid #00AEEF;
        color: #444444;
        line-height: 59px;
        padding-left: 30px;
        &::-webkit-details-marker {
            display: none;
        }
    }
    &__input {
        display: none;
    }
}

details[open] .descr {
    animation: spoiler 1s;
}

@keyframes spoiler {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}