.logos-slider {
    position: relative;
    text-align: center;
    padding: 0 150px;
    .logos-slides {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 51px;
        margin-top: 20px;
        &__img {
            margin-right: 80px;
        }
    }
    &__btn {
        cursor: pointer;
        margin-top: 60px;
        &_left {
            position: absolute;
            border: none;
            width: 31px;
            height: 31px;
            border-radius: 3px;
            color: #00AEEF;
            background: #F6F6F6;
            font-size: 1.5rem;
            top: 76px;
            left: 45%;
            &::before {
                content: '';
            }
            &:hover {
                background: #00AEEF;
                opacity: 0.2;
                color: #F6F6F6;
            }
        }
        &_right {
            border: none;
            width: 31px;
            height: 31px;
            border-radius: 3px;
            color: #00AEEF;
            background: #F6F6F6;
            font-size: 1.5rem;
            &::before {
                content: '';
            }
            &:hover {
                background: #00AEEF;
                opacity: 0.2;
                color: #F6F6F6;
            }
        }
    }
}