.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    &__item {
        margin-right: 53px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9rem;
        color: #fff;
        &:hover {
            color: #00AEEF;
        }
        &-footer {
            text-transform: capitalize;
            color: #8F9095;
            font-size: 0.8rem;
        }
    }
}
.menu-main_active {
    left: 0;
}
.hamburger {
	display: none;
}