.title {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 0;
    &__advantages {
        font-size: 1.5rem;
        color: #333333;
        text-align: left;
        margin-top: 0;
    }
}