* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.header {
  background: url("/src/img/main-bg.png") no-repeat;
  background-position: -245px -100px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
  padding: 18px 0 172px 0;
}

.header-wrapper .top-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.header .logo:hover {
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 174, 239, 0.9));
          filter: drop-shadow(0 0 10px rgba(0, 174, 239, 0.9));
}

.header .header-content {
  margin-top: 200px;
}

.header .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search {
  background: url("/src/img/bg-section-search.png") center center/cover no-repeat;
  text-align: center;
  padding: 119px 0;
}

.search__text {
  color: #fff;
}

.search-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.search-checkbox .checkbox__input {
  display: none;
  margin: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
}

.search-checkbox .checkbox__custom {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #00AEEF;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.search-checkbox .checkbox__custom_active::before {
  display: inline-block;
  content: '\2714';
  color: #00AEEF;
  font-size: 1em;
  height: 18px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.search-checkbox .checkbox__text {
  font-size: 0.8rem;
  color: #fff;
  margin-right: 30px;
}

.build-website {
  padding: 120px 0;
}

.build-website__dotted-line {
  width: 70%;
  border-top: 2px dotted  #00AEEF;
  margin: 105px auto 0 auto;
}

.build-website__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -35px;
}

.build-website__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 270px;
}

.build-website__circle {
  width: 71px;
  height: 71px;
  background: #fff;
  border-radius: 50%;
  border: 2px dotted  #00AEEF;
  color: #00AEEF;
  font-size: 1.5rem;
  text-align: center;
  padding: 17px 0;
  margin: 0 auto 30px auto;
  cursor: pointer;
}

.build-website__circle:hover {
  border: none;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  color: #fff;
  padding: 19px 0;
}

.advantages {
  background: #F9F9F9;
  padding: 120px 0;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 270px;
  border-right: 2px dotted  #00AEEF;
  padding: 0 20px;
}

.advantages__item:last-child {
  border: none;
}

.advantages__icon {
  width: 71px;
  height: 71px;
  font-size: 3.8rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
}

.package {
  padding: 120px 0;
}

.builder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.builder__photo {
  width: 50%;
  height: 410px;
  background: url("/src/img/builder.png") left no-repeat;
}

.builder__text {
  width: 50%;
  height: 410px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  padding: 84px 120px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}

.contacts__icon {
  margin-right: 15px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 48px;
}

.contacts__link:hover {
  color: #00AEEF;
}

.icons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-top__link {
  text-decoration: none;
  margin-right: 18px;
}

.icons-top__circle {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #00AEEF;
  background: #fff;
  padding-top: 7px;
}

.icons-top__circle:hover {
  background: #00AEEF;
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.menu__item {
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
}

.menu__link:hover {
  color: #00AEEF;
}

.title {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 0;
}

.title__experience {
  font-size: 1.5rem;
  color: #333333;
  text-align: left;
  margin-top: 0;
}

.title__section {
  font-size: 1.6rem;
  color: #333333;
}

.title__subtitle {
  font-size: 1.5rem;
  color: #333333;
}

.title__subtitle_white {
  color: #fff;
}

.title__advantages {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 0;
}

.title__slider-package {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  margin-top: 65px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__link {
  text-decoration: none;
  margin-bottom: 30px;
}

.social__icon {
  color: #fff;
}

.social__icon:hover {
  color: #00AEEF;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel .hexagons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: 38px auto 0 auto;
}

.carousel .hexagons .hexagon {
  width: 106px;
  height: 200px;
  text-align: center;
}

.carousel .hexagons .hexagon__bg {
  width: 91px;
  height: 106px;
  background: url("/src/icon/hexagon(2).svg") no-repeat;
  background-size: 100%;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 19px;
}

.carousel .hexagons .hexagon__inner {
  font-size: 1.9rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.carousel .hexagons .hexagon__inner_icon {
  display: inline-block;
  font-size: 2.2rem;
  margin-top: 5px;
}

.carousel .hexagons .hexagon__text {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.slick-arrow {
  width: 51px;
  height: 51px;
  background: rgba(26, 26, 26, 0.3);
  color: #fff;
  cursor: pointer;
}

.slick-arrow:hover {
  background: rgba(26, 26, 26, 0.2);
  color: #00AEEF;
}

.slick-prev {
  left: 120%;
}

.slick-prev::before {
  content: '';
  color: #fff;
  font-size: 1.5rem;
}

.slick-next {
  left: 120%;
  content: '\e905';
  border-top: 1px solid rgba(168, 168, 168, 0.1);
  margin-top: 51px;
}

.slick-next::before {
  content: '';
}

.icon-keyboard_arrow_left {
  font-size: 1.5rem;
}

.icon-keyboard_arrow_right {
  font-size: 1.5rem;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.button-header {
  width: 141px;
  height: 53px;
  background: #00AEEF;
  border: 3px solid #fff;
  border-radius: 5px;
  border-bottom-style: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 50px;
}

.button-header:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
  border-color: #00AEEF;
}

.button-search {
  position: absolute;
  width: 131px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  border-radius: 50px;
  border: none;
  margin: 9px;
  -webkit-transform: translate(-115%, 0);
          transform: translate(-115%, 0);
}

.button-search:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#9d35c0), to(#31aae2));
  background: linear-gradient(to top right, #9d35c0, #31aae2);
}

.button-package-slide {
  width: 141px;
  height: 40px;
  background: #fff;
  border: 1px solid #00AEEF;
  border-radius: 3px;
  color: #00AEEF;
  margin-top: 30px;
  margin-bottom: 70px;
}

.button-package-slide:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
  border-color: #00AEEF;
  color: #fff;
}

.descr {
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #616161;
}

.descr__build-website {
  text-align: center;
}

.descr__advantages {
  margin-top: 0;
  margin-bottom: 35px;
}

.descr__title {
  text-align: center;
  margin-top: 20px;
}

.descr__builder {
  color: #fff;
}

.experience {
  background: #fff;
  padding: 118px 0 129px 0;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience__photo {
  width: 501px;
  height: 373px;
  background: url("/src/img/photo-advantages.png");
  background-position: 73% 0;
  margin-left: auto;
}

.experience__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
}

.experience__icon {
  width: 56px;
  height: 56px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 17px 0;
  margin: 0 20px 30px 0;
}

.experience__icon_1 {
  background: #1A1A2B;
}

.experience__icon_1 .icon-ioxhost {
  font-size: 1.5rem;
}

.experience__icon_2 {
  background: #00AEEF;
}

.experience__icon_2 .icon-registered {
  font-size: 1.5rem;
}

.experience__icon_3 {
  background: #9655C7;
}

.experience__icon_3 .icon-user-o {
  font-size: 1.5rem;
}

.experience__icon_4 {
  background: #86C724;
}

.experience__icon_4 .icon-database {
  font-size: 1.5rem;
}

.experience__count {
  font-size: 0.9rem;
  font-weight: bold;
  color: #616161;
  text-align: center;
}

.experience__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.experience__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
}

.search-area {
  width: 572px;
  height: 63px;
  margin: 49px auto 0 auto;
}

.search-area__input {
  position: relative;
  width: 572px;
  height: 63px;
  border-radius: 50px;
  border: 2px solid #00AEEF;
  color: #616161;
  font-size: 0.9rem;
  padding-left: 65px;
}

.search-area__icon {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  color: #616161;
  margin: 16px 0 0 25px;
}

.package-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package-slide__img {
  width: 506px;
  height: 340px;
  margin: 104px 0 0 70px;
}

.package-slide__cloud-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package-slide__icon {
  width: 140px;
  height: 100px;
  font-size: 7rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 3px;
  margin: 33px 24px 0 0;
}

.package-slide__span {
  position: absolute;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  margin: -60px 0 0 25px;
}

.package-slide .slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #616161;
  padding: 0;
  margin-right: 32px;
}

.package-slide .slide-list__item {
  font-size: 0.9em;
  line-height: 2.5em;
  list-style-type: none;
}

.package-slide .slide-list__item:before {
  display: inline-block;
  content: '\2714';
  color: #D9D9D9;
  font-size: 1.2em;
  margin-right: 5px;
}

.package-slide .slick-package-prev {
  position: absolute;
  left: -15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  color: #00AEEF;
}

.package-slide .slick-package-prev .icon-long-arrow-left {
  font-size: 1.3rem;
}

.package-slide .slick-package-prev .icon-long-arrow-left:hover {
  color: #9d35c0;
}

.package-slide .slick-package-next {
  position: absolute;
  left: 110%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  color: #00AEEF;
}

.package-slide .slick-package-next .icon-long-arrow-right {
  font-size: 1.3rem;
}

.package-slide .slick-package-next .icon-long-arrow-right:hover {
  color: #9d35c0;
}

.package-slide .slick-dots {
  text-align: left;
}

.package-slide .slick-dots li button:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 2px solid #00AEEF;
  border-bottom: 2px solid #00AEEF;
  border-left: 1px solid #00AEEF;
  border-right: 1px solid #00AEEF;
}

.package-slide .slick-dots li.slick-active button:before {
  background: #00AEEF;
}
/*# sourceMappingURL=style.css.map */