@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, ul {
  margin: 0;
}

.header {
  background: url("/src/img/main-bg.png") no-repeat;
  background-position: -245px -100px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
  padding: 18px 0 172px 0;
}

.header-wrapper .top-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.header .logo:hover {
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 174, 239, 0.9));
          filter: drop-shadow(0 0 10px rgba(0, 174, 239, 0.9));
}

.header .header-content {
  margin-top: 200px;
}

.header .content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.search {
  background: url("/src/img/bg-section-search.png") center center/cover no-repeat;
  text-align: center;
  padding: 119px 0;
}

.search__text {
  color: #fff;
}

.search-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.search-checkbox .checkbox__input {
  display: none;
  margin: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
}

.search-checkbox .checkbox__custom {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #00AEEF;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.search-checkbox .checkbox__custom_active::before {
  display: inline-block;
  content: '\2714';
  color: #00AEEF;
  font-size: 1em;
  height: 18px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.search-checkbox .checkbox__text {
  font-size: 0.8rem;
  color: #fff;
  margin-right: 30px;
}

.build-website {
  padding: 120px 0;
}

.build-website__dotted-line {
  width: 70%;
  border-top: 2px dotted  #00AEEF;
  margin: 105px auto 0 auto;
}

.build-website__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -35px;
}

.build-website__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 270px;
}

.build-website__circle {
  width: 71px;
  height: 71px;
  background: #fff;
  border-radius: 50%;
  border: 2px dotted  #00AEEF;
  color: #00AEEF;
  font-size: 1.5rem;
  text-align: center;
  padding: 17px 0;
  margin: 0 auto 30px auto;
  cursor: pointer;
}

.build-website__circle:hover {
  border: none;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  color: #fff;
  padding: 19px 0;
}

.advantages {
  background: #F9F9F9;
  padding: 120px 0;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 270px;
  border-right: 2px dotted  #00AEEF;
  padding: 0 20px;
}

.advantages__item:last-child {
  border: none;
}

.advantages__icon {
  width: 71px;
  height: 71px;
  font-size: 3.8rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px auto;
}

.package {
  padding: 120px 0;
}

.builder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.builder__photo {
  width: 50%;
  height: 410px;
  background: url("/src/img/builder.png") left no-repeat;
}

.builder__text {
  width: 50%;
  height: 410px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  padding: 84px 120px;
}

.choice {
  background: #fff;
  padding: 120px 0;
}

.choice__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.choice__img {
  width: 340px;
  height: 258px;
  margin: 84px 0 0 50px;
}

.choice .tabcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice .tabcontent_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice .tabcontent_hide {
  display: none;
}

.choice .tabcontent_fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.count {
  height: 450px;
  background: url("/src/img/count-bg.png");
}

.count-overlay {
  height: 450px;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
}

.count-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 180px 0;
}

.count-inner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

.count-inner__icon {
  color: #fff;
  font-size: 5.5rem;
}

.count-inner__icon_inner {
  position: absolute;
  color: #00AEEF;
  font-size: 2.2rem;
  margin-top: 26px;
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.count-inner__number {
  font-size: 2.5rem;
}

.count-inner__text {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.command {
  background: #fff;
  padding: 120px 0;
}

.command .semicircle {
  width: 882px;
  height: 296px;
  background: url("/src/img/Ellipse-bg.png") no-repeat;
  background-position: 50% 100%;
  margin: 100px auto 0 auto;
}

.command .semicircle-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.command .semicircle-on__avatar {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.command .semicircle-on__avatar-1 {
  background: url("/src/img/avatar1.png");
  background-position: 50% 50%;
  -webkit-transform: translate(-80%, 300%);
          transform: translate(-80%, 300%);
}

.command .semicircle-on__avatar-2 {
  background: url("/src/img/avatar2.png");
  background-position: 110% 10%;
  -webkit-transform: translate(-80%, 55%);
          transform: translate(-80%, 55%);
}

.command .semicircle-on__avatar-3 {
  background: url("/src/img/avatar3.png");
  background-position: 95% 10%;
  -webkit-transform: translateY(-33%);
          transform: translateY(-33%);
}

.command .semicircle-on__avatar-4 {
  background: url("/src/img/avatar4.png");
  background-size: 110%;
  background-position: 50% 115%;
  -webkit-transform: translate(80%, 55%);
          transform: translate(80%, 55%);
}

.command .semicircle-on__avatar-5 {
  background: url("/src/img/avatar5.png");
  background-position: 50% 0;
  -webkit-transform: translate(80%, 300%);
          transform: translate(80%, 300%);
}

.command .semicircle-inner {
  text-align: center;
}

.command .semicircle-inner .icon-quote-left {
  font-size: 1.4em;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.command .semicircle-inner__descr {
  width: 602px;
  font-size: 0.8rem;
  line-height: 1.7rem;
  font-style: italic;
  color: #616161;
  margin: 15px auto 0 auto;
}

.command .semicircle-inner__worker {
  margin-bottom: 50px;
}

.command .semicircle-inner__name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
}

.command .semicircle-inner__work {
  font-size: 0.9rem;
  color: #616161;
}

.command .semicircle-inner .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.command .semicircle-inner .dots__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px dotted #9d35c0bd;
  margin-right: 14px;
  cursor: pointer;
}

.command .semicircle-inner .dots__item_active {
  text-align: center;
}

.command .semicircle-inner .dots__item_active:before {
  display: inline-block;
  content: '\26AB';
  font-size: 1.3rem;
  text-align: center;
  vertical-align: middle;
  background-size: 3px 1px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.articles {
  background: #F9F9F9;
  padding: 120px 0;
}

.articles-wripper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-item {
  width: 350px;
  background: #fff;
}

.articles-item__photo1 {
  background: url("/src/img/article1.png") center no-repeat;
}

.articles-item__photo2 {
  background: url("/src/img/article2.png") center no-repeat;
}

.articles-item__photo3 {
  background: url("/src/img/article3.png") center no-repeat;
}

.articles-text {
  margin: 33px 40px 0 25px;
}

.articles-text__autor {
  font-size: 0.9rem;
  color: #616161;
}

.articles-text__title {
  font-size: 1.1rem;
  color: #333333;
  margin-top: 12px;
}

.articles-text hr {
  height: 2px;
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #EDEDED;
  /* Цвет линии для остальных браузеров */
  background-color: #EDEDED;
  /* Цвет линии для браузера Firefox и Opera */
}

.articles-text__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-text__comment {
  width: 55px;
  height: 31px;
  background: #F9F9F9;
  text-align: center;
  border-radius: 3px;
  padding-top: 7px;
  margin-left: 63px;
  cursor: pointer;
}

.articles-text__comment:hover {
  background: #d6d6d6;
}

.articles-text__comment-count {
  display: inline-block;
  font-size: 0.8rem;
  color: #333333;
  margin-left: 6px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.articles-text__share {
  width: 36px;
  height: 31px;
  text-align: center;
  background: #F9F9F9;
  border-radius: 3px;
  padding-top: 7px;
  cursor: pointer;
}

.articles-text__share:hover {
  background: #d6d6d6;
}

.questions {
  background: #fff;
  padding: 120px 0 120px 52px;
}

.questions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions-menu {
  list-style-type: none;
  padding: 0;
  margin-right: 60px;
}

.questions-menu__item {
  color: #333333;
  font-size: 0.8rem;
  margin-top: 26px;
  cursor: pointer;
}

.questions-menu__item:hover {
  color: #00AEEF;
}

.questions__title {
  text-transform: uppercase;
  color: #033333;
  margin-bottom: 40px;
}

.subscribe {
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  padding: 120px 0;
}

.subscribe__form {
  text-align: center;
}

.footer {
  background: #2C3E50;
  padding: 77px 0 57px 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__logo:hover {
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
          filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.footer__adress {
  color: #8F9095;
  font-size: 0.8rem;
}

.footer__title-item {
  font-size: 0.9rem;
  font-weight: normal;
  color: #E3E3E3;
  margin-bottom: 29px;
}

.footer__title-item_mt {
  margin-top: 52px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials-icon {
  width: 41px;
  height: 41px;
  color: #fff;
  text-align: center;
  line-height: 2.56rem;
}

.footer__socials .icon-facebook {
  background: #3B5998;
}

.footer__socials .icon-pinterest {
  background: #C92228;
}

.footer__socials .icon-instagram {
  background: #FB3958;
}

.footer__socials .icon-twitter {
  background: #3CBEE3;
}

.footer__socials .icon-google-plus {
  background: #E13928;
}

.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__important-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__important-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 66px;
}

.footer__link {
  text-decoration: none;
  color: #8F9095;
  font-size: 0.8rem;
  line-height: 2rem;
  white-space: pre;
}

.footer__link:hover {
  color: #3CBEE3;
}

.footer-bottom__hr {
  height: 2px;
  color: #fff;
  opacity: 0.05;
  margin: 62px 0 52px 0;
}

.footer-bottom__copyright {
  color: #8F9095;
  opacity: 0.5;
}

.footer-bottom__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}

.contacts__icon {
  margin-right: 15px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 48px;
}

.contacts__link:hover {
  color: #00AEEF;
}

.icons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons-top__link {
  text-decoration: none;
  margin-right: 18px;
}

.icons-top__circle {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #00AEEF;
  background: #fff;
  padding-top: 7px;
}

.icons-top__circle:hover {
  background: #00AEEF;
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.menu__item {
  margin-right: 53px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #fff;
}

.menu__link:hover {
  color: #00AEEF;
}

.menu__link-footer {
  text-transform: capitalize;
  color: #8F9095;
  font-size: 0.8rem;
}

.title {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 0;
}

.title__experience {
  font-size: 1.5rem;
  color: #333333;
  text-align: left;
  margin-top: 0;
}

.title__section {
  font-size: 1.6rem;
  color: #333333;
}

.title__subtitle {
  font-size: 1.5rem;
  color: #333333;
}

.title__subtitle_white {
  color: #fff;
}

.title__subtitle-subscribe {
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 33px;
}

.title__advantages {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 0;
}

.title__slider-package {
  font-size: 1.5rem;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  margin-top: 65px;
}

.title__choice {
  font-size: 1.2rem;
  color: #333333;
  text-align: left;
  margin-top: 50px;
}

.title-questions {
  text-align: left;
  margin-bottom: 75px;
}

.title__subscribe {
  font-size: 1.9rem;
  color: #fff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social__link {
  text-decoration: none;
  margin-bottom: 30px;
}

.social__icon {
  color: #fff;
}

.social__icon:hover {
  color: #00AEEF;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel .hexagons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  margin: 38px auto 0 auto;
}

.carousel .hexagons .hexagon {
  width: 106px;
  height: 200px;
  text-align: center;
}

.carousel .hexagons .hexagon__bg {
  width: 91px;
  height: 106px;
  background: url("/src/icon/hexagon(2).svg") no-repeat;
  background-size: 100%;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 19px;
}

.carousel .hexagons .hexagon__inner {
  font-size: 1.9rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.carousel .hexagons .hexagon__inner_icon {
  display: inline-block;
  font-size: 2.2rem;
  margin-top: 5px;
}

.carousel .hexagons .hexagon__text {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.slick-arrow {
  width: 51px;
  height: 51px;
  background: rgba(26, 26, 26, 0.3);
  color: #fff;
  cursor: pointer;
}

.slick-arrow:hover {
  background: rgba(26, 26, 26, 0.2);
  color: #00AEEF;
}

.slick-prev {
  left: 120%;
}

.slick-prev::before {
  content: '';
  color: #fff;
  font-size: 1.5rem;
}

.slick-next {
  left: 120%;
  content: '\e905';
  border-top: 1px solid rgba(168, 168, 168, 0.1);
  margin-top: 51px;
}

.slick-next::before {
  content: '';
}

.icon-keyboard_arrow_left {
  font-size: 1.5rem;
}

.icon-keyboard_arrow_right {
  font-size: 1.5rem;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
}

.button-header {
  width: 141px;
  height: 53px;
  background: #00AEEF;
  border: 3px solid #fff;
  border-radius: 5px;
  border-bottom-style: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 50px;
}

.button-header:hover {
  border-color: #00AEEF;
}

.button-search {
  position: absolute;
  width: 131px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  border-radius: 50px;
  border: none;
  margin: 9px;
  -webkit-transform: translate(-115%, 0);
          transform: translate(-115%, 0);
}

.button-search:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#9d35c0), to(#31aae2));
  background: linear-gradient(to top right, #9d35c0, #31aae2);
}

.button-package-slide {
  width: 141px;
  height: 40px;
  background: #fff;
  border: 1px solid #00AEEF;
  border-radius: 3px;
  color: #00AEEF;
  margin-top: 30px;
  margin-bottom: 70px;
}

.button-package-slide:hover {
  color: #fff;
}

.button__articles {
  width: 81px;
  height: 41px;
  background: #00AEEF;
  border-radius: 3px;
  color: #fff;
  border: none;
  margin: 220px 0 16px 17px;
}

.button__articles-more {
  width: 125px;
  height: 36px;
  background: #F9F9F9;
  color: #00AEEF;
  border-radius: 3px;
  border: none;
}

.button__articles-more:hover {
  color: #fff;
}

.button__details {
  width: 58px;
  height: 58px;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  font-size: 1.5rem;
  line-height: 59px;
}

.button__details:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#9d35c0), to(#31aae2));
  background: linear-gradient(to top right, #9d35c0, #31aae2);
}

.button__details:active::before {
  content: '\e91a';
}

.button-subscribe {
  position: absolute;
  width: 192px;
  height: 61px;
  background: #00AEEF;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  margin-left: -191px;
  margin-top: 43px;
}

.button-call {
  display: block;
  width: 132px;
  height: 49px;
  font-size: 1.2rem;
  background: #00AEEF;
  border: none;
  border-radius: 3px;
  margin: 40px auto 0 auto;
}

.descr {
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #616161;
}

.descr__build-website {
  text-align: center;
}

.descr__advantages {
  margin-top: 0;
  margin-bottom: 35px;
}

.descr__title {
  text-align: center;
  margin-top: 20px;
}

.descr__builder {
  color: #fff;
}

.descr__details {
  background: #F9F9F9;
  margin: 0;
}

.experience {
  background: #fff;
  padding: 118px 0 129px 0;
}

.experience__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experience__photo {
  width: 501px;
  height: 373px;
  background: url("/src/img/photo-advantages.png");
  background-position: 73% 0;
  margin-left: auto;
}

.experience__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 50%;
}

.experience__icon {
  width: 56px;
  height: 56px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 17px 0;
  margin: 0 20px 30px 0;
}

.experience__icon_1 {
  background: #1A1A2B;
}

.experience__icon_1 .icon-ioxhost {
  font-size: 1.5rem;
}

.experience__icon_2 {
  background: #00AEEF;
}

.experience__icon_2 .icon-registered {
  font-size: 1.5rem;
}

.experience__icon_3 {
  background: #9655C7;
}

.experience__icon_3 .icon-user-o {
  font-size: 1.5rem;
}

.experience__icon_4 {
  background: #86C724;
}

.experience__icon_4 .icon-database {
  font-size: 1.5rem;
}

.experience__count {
  font-size: 0.9rem;
  font-weight: bold;
  color: #616161;
  text-align: center;
}

.experience__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

.experience__subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
}

.input-area {
  width: 572px;
  height: 63px;
  margin: 49px auto 0 auto;
}

.input-area__input {
  position: relative;
  width: 572px;
  height: 63px;
  border-radius: 50px;
  border: 2px solid #00AEEF;
  color: #616161;
  font-size: 0.9rem;
  padding-left: 65px;
}

.input-area__input-subscribe {
  position: relative;
  width: 677px;
  height: 61px;
  border-radius: 3px;
  border: none;
  padding-left: 32px;
  margin-top: 43px;
}

.input-area__icon {
  position: absolute;
  z-index: 10;
  font-size: 2rem;
  color: #616161;
  margin: 16px 0 0 25px;
}

.package-slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package-slide__img {
  width: 506px;
  height: 340px;
  margin: 104px 0 0 70px;
}

.package-slide__cloud-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package-slide__icon {
  width: 140px;
  height: 100px;
  font-size: 7rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#31aae2), to(#9d35c0));
  background: linear-gradient(to top right, #31aae2, #9d35c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 3px;
  margin: 33px 24px 0 0;
}

.package-slide__span {
  position: absolute;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  margin: -60px 0 0 25px;
}

.package-slide .slide-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #616161;
  padding: 0;
  margin: 34px 32px 0 0;
}

.package-slide .slide-list__item {
  font-size: 0.9em;
  line-height: 2.5em;
  list-style-type: none;
}

.package-slide .slide-list__item:before {
  display: inline-block;
  content: '\2714';
  color: #D9D9D9;
  font-size: 1.2em;
  margin-right: 5px;
}

.package-slide .slick-package-prev {
  position: absolute;
  left: -15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  color: #00AEEF;
}

.package-slide .slick-package-prev .icon-long-arrow-left {
  font-size: 1.3rem;
}

.package-slide .slick-package-prev .icon-long-arrow-left:hover {
  color: #9d35c0;
}

.package-slide .slick-package-next {
  position: absolute;
  left: 110%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
  border: none;
  color: #00AEEF;
}

.package-slide .slick-package-next .icon-long-arrow-right {
  font-size: 1.3rem;
}

.package-slide .slick-package-next .icon-long-arrow-right:hover {
  color: #9d35c0;
}

.package-slide .slick-dots {
  text-align: left;
}

.package-slide .slick-dots li button:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  border-top: 2px solid #00AEEF;
  border-bottom: 2px solid #00AEEF;
  border-left: 1px solid #00AEEF;
  border-right: 1px solid #00AEEF;
}

.package-slide .slick-dots li.slick-active button:before {
  background: #00AEEF;
}

.choice__tab {
  width: 16.3%;
  height: 60px;
  background: #F9F9F9;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  padding: 19px 0;
  margin-top: 73px;
  cursor: pointer;
}

.choice__tab_active {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(49, 170, 226, 0.9)), to(rgba(157, 53, 192, 0.9)));
  background: linear-gradient(to top right, rgba(49, 170, 226, 0.9), rgba(157, 53, 192, 0.9));
}

.details {
  width: 773px;
  height: 59px;
  border-left: 10px solid #00AEEF;
  background: #F9F9F9;
  padding-left: 30px;
  margin-top: 18px;
}

.details__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444444;
  line-height: 59px;
}

.details__summary::-webkit-details-marker {
  display: none;
}

.details__input {
  display: none;
}

details[open] .descr {
  -webkit-animation: spoiler 1s;
          animation: spoiler 1s;
}

@-webkit-keyframes spoiler {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spoiler {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.call {
  position: absolute;
  width: 372px;
  height: 388px;
  right: 100px;
  -webkit-transform: translateY(-194px);
          transform: translateY(-194px);
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 52px 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.call__circle {
  width: 61px;
  height: 61px;
  background: #00AEEF;
  color: #fff;
  font-size: 1.5rem;
  line-height: 3.8rem;
  border-radius: 50%;
  margin: 0 auto;
}

.call__title {
  font-size: 1.9rem;
  margin-top: 25px;
}

.call__subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
}

.call__phone {
  font-size: 1.5rem;
  margin-top: 34px;
}

.logos-slider {
  text-align: center;
  padding: 76px 0 120px 0;
}

.logos-slider .logos-slides__img {
  margin-right: 80px;
}

.logos-slider__btn {
  width: 31px;
  height: 31px;
  border-radius: 3px;
  color: #00AEEF;
  font-size: 1.5rem;
  border: none;
  margin: 60px 22px 0 0;
  cursor: pointer;
}

.logos-slider__btn:hover {
  background: #00AEEF;
  opacity: 0.2;
  color: #F6F6F6;
}

.logos-slider__btn_left {
  content: '\e907';
}

.logos-slider__btn_left::before {
  content: '';
}

.logos-slider__btn_right {
  content: '\e905';
}

.logos-slider__btn_right::before {
  content: '';
}
/*# sourceMappingURL=style.css.map */